.awesomplete-wrapper {
  position: relative;
  display: inline;
}

.h-visually-hidden {
  margin-top: 100px;
  display: none;
}

.awesomplete-wrapper > input {
  display: block;
}

.awesomplete-wrapper > ul {
  position: absolute;
  left: 0;
  z-index: 1;
  min-width: 100%;
  list-style: none;
  padding: 0;
  margin: -2px 0 0;
  background-color: #fff;
  border-bottom: 2px solid #046380;
  overflow-y: auto;
  transition: 0.3s cubic-bezier(0.4, 0.2, 0.5, 1.4);
  max-height: 300px;
}

.awesomplete-wrapper > ul[hidden],
.awesomplete-wrapper > ul:empty {
  border-bottom-width: 0px;
  display: block;
  max-height: 0;
  overflow: hidden;
  transition-timing-function: ease;
}

.awesomplete-wrapper > ul > li {
  cursor: pointer;
  padding: .2em .5em;
  position: relative;
  transition: all 0.25s ease-out;
}

.awesomplete-wrapper > ul > li:hover,
.awesomplete-wrapper > ul > li[aria-selected="true"] {
  background: #046380;
  color: #fff;
}

.awesomplete-wrapper mark {
  background: #c0ced4;
  color: #333;
  transition: all 0.25s ease-out;
}

.awesomplete-wrapper li:hover mark,
.awesomplete-wrapper li[aria-selected="true"] mark {
  background: #023240;
  color: #fff;
}
